@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body
{
    background:lightblue;
    text-align: center;
    margin: 0px;
    padding-bottom: 60px;
}

#div1
{
    margin-top: 10px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

#divA1
{
    margin-top: 15px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

img
{
    margin-top: 10px;
    border-radius: 5px;
}

 #divA2, #divA3, #divA4, #divA5, #divA6
{
    margin-top: 10px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

#titleDiv
{
    font-family: monospace;
    font-size: 55px;
}

#descDiv
{
    font-family: monospace;
    font-size: 22px;
    letter-spacing: 4.4px;
}

#GLensB
{
    color: #0F9D58;
}

#GLensB2
{
    color: #F4B400;
}

#titleDivA
{
    font-family: monospace;
    font-size: 26;
    font-weight: bold;
}

#normalTxt
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18;
}

#resultTxt
{
    font-family: monospace;
    font-size: 20;
    color: rgb(5, 165, 5);
    text-transform: uppercase;
}

#resultDiv
{
    background-color: lightblue;
    border-radius: 5px;
    padding: 2%;
}

#divList
{
    margin-top: 10px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

ol
{
    text-align: left !important;
}

a
{
    color: black !important;
}

#copyright-div
{
    background-color: white;
    width: 100%;
    color: lightblue;
    padding: 1%;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin: 0px;
}

#divConclusion
{
    margin-top: 10px;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}
